<!-- Add Activity Form -->
<div *ngIf="currentType !== null" class="add-activity-form">
  <input class="activity-input"
         placeholder="Enter activity name"
         [(ngModel)]="newActivityName">
  <button class="add-btn" (click)="addActivity()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- Tabs -->
<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="All"></mat-tab>
  <mat-tab label="Exercise"></mat-tab>
  <mat-tab label="Hydration"></mat-tab>
  <mat-tab label="Yoga"></mat-tab>
  <mat-tab label="Food"></mat-tab>
</mat-tab-group>

<!-- Loading & Error -->
<div *ngIf="loading" class="loading">Loading activities...</div>
<div *ngIf="fetchError" class="error">{{ fetchError }}</div>

<!-- Activity List -->
<div *ngIf="!loading && activities.length" class="activity-list">
  <div *ngFor="let act of activities"
       class="activity-item"
       [class.completed]="completedIds.has(+act.id)">
    
    <!-- Left: Checkbox + Name -->
    <div class="activity-left">
      <input type="checkbox"
             [checked]="completedIds.has(+act.id)"
             (change)="toggleDone(act)">
      <span class="activity-name">{{ act.name }}</span>
    </div>

    <!-- Right: Bonus + Actions -->
    <div class="activity-right">
      <div *ngIf="act.suggested" class="bonus-badge">
        <mat-icon class="bonus-icon">emoji_events</mat-icon>
        +5
      </div>
     <button *ngIf="!act.suggested" class="icon-btn" (click)="startEdit(act)">
  <mat-icon>edit</mat-icon>
</button>

      <button *ngIf="!act.suggested" class="icon-btn" (click)="deleteActivity(act)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>

<div *ngIf="!loading && !activities.length">No activities found.</div>
