<div class="login-signup-container">
  <h2 *ngIf="isLoginMode()">Login</h2>
  <h2 *ngIf="!isLoginMode()">Signup</h2>

  <!-- Login Form -->
  <form *ngIf="isLoginMode()" [formGroup]="loginForm" class="form-box">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username / Email</mat-label>
      <input matInput formControlName="usernameOrEmail">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="togglePassword()" type="button">
        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" (click)="login()">Login</button>

    <p class="signup-link" [class.highlight]="loginFailed()" (click)="toggleMode()">
      New user? Signup
    </p>
  </form>

  <!-- Signup Form -->
  <form *ngIf="!isLoginMode()" [formGroup]="signupForm" class="form-box">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="password">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="confirmPassword">
    </mat-form-field>

    <button mat-raised-button color="accent" class="full-width" (click)="signup()">Signup</button>

    <p class="signup-link" (click)="toggleMode()">Already have an account? Login</p>
  </form>
</div>
